<h2>Edit resolution</h2>

<%= render "form.html", changeset: @changeset,
                        action: resolution_path(@conn, :update, @resolution) %>

<%= link "Back", to: resolution_path(@conn, :index) %>
